-e git+https://github.com/henzk/ape.git#egg=ape
-e git+https://github.com/audreyr/cookiecutter.git@5fb9b77869f43dfc1fb746701a32d7e68678092c#egg=cookiecutter
-e git+https://github.com/henzk/djpl-container-management.git#egg=djpl-container-management
-e git+https://github.com/henzk/django-productline.git#egg=django-productline

# Some basic features and modules; uncomment if you need them
#-e git+https://github.com/tonimichel/djpl-postgres.git#egg=djpl-postgres
#-e git+https://github.com/schnapptack/djpl-cssbasics.git#egg=djpl-cssbasics
#-e git+https://github.com/schnapptack/djpl-jsbasics.git#egg=djpl-jsbasics
#-e git+https://github.com/tonimichel/djpl-schnadmin.git#egg=djpl-schnadmin
#-e git+https://github.com/tonimichel/djpl-users.git#egg=djpl-users
#-e git+https://github.com/tonimichel/djpl-container-data.git#egg=djpl-container-data
#-e git+https://github.com/tonimichel/djpl-schnippjs.git#egg=djpl-schnippjs
#-e git+https://github.com/schnapptack/djpl-emailing.git#egg=djpl-emailing
#django-compressor
#requests
#jsonfield
#jinja2


