include README.rst
include LICENSE
include MANIFEST.in
include requirements.txt
recursive-include djpl_container_management/cookiecutter_templates/djpl_container *
recursive-include djpl_container_management/cookiecutter_templates/djpl_feature *
recursive-include djpl_container_management/cookiecutter_templates/djpl_product *
